:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: #213547;
	background-color: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.custom-trigger::part(trigger) {
	height: 56px;
	padding: 12px 32px;
	border-radius: 999px;
	background-color: #e63946;
	color: #f1faee;
	font-size: 18px;
	letter-spacing: 0.5px;
}
